<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Sanya Bochoun</h2>
        <p>I'm <span class="typed"
                data-typed-items="Junior Full Stack Developer,Junior Backend Developer,Junior Frontend Developer, Freelancer, Civil Engineer"></span><span
                class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span
                class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

</section><!-- /Hero Section --> 