<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Motivated and detail-oriented junior developer and engineer with hands-on experience in web development, data science, and construction project management. Eager to apply technical and analytical skills to real-world challenges, continuously learn new technologies, and contribute effectively to team success.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Licenses & certifications</h3>

                <div class="resume-item pb-0">
                    <h4>Software Development Bootcamp</h4>
                    <h5>Feb 2025 - Jun 2025</h5>
                    <p><em>Techup, BK</em></p>
                    <p>Learned the fundamentals of web development including both frontend and backend, version control with Git, teamwork, and building real-world projects from scratch to deployment.</p>
                </div>
                
                <div class="resume-item pb-0">
                    <h4>Python for Data Science 80 hrs</h4>
                    <h5>Feb 2021</h5>
                    <p><em>REINFORCE BUSINESS INTELLIGENCE CO.,LTD, BK</em></p>
                    <p> Learned the basics of Python programming, data analysis with libraries such as Pandas and NumPy, data visualization with Matplotlib, and fundamental concepts in data science including data cleaning, exploration, and simple machine learning models.</p>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Engineering - BE &amp; Civil Engineering</h4>
                    <h5>2009 - 2011</h5>
                    <p><em>Mahanakorn University of Technology, BK</em></p>
                    <p>Gained a solid foundation in civil engineering principles, including structural analysis, construction management, and surveying. Completed several group projects and internships that developed teamwork, problem-solving, and project management skills.</p>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>High Vocational Certificate, Construction Technology &amp; Construction</h4>
                    <h5>2006 - 2008</h5>
                    <p><em>Premruethai technology school, BK</em></p>
                    <p>Acquired practical skills in construction technology, including blueprint reading, construction site safety, and the use of surveying and construction equipment. Participated in hands-on workshops and internships that enhanced teamwork, responsibility, and problem-solving abilities.</p>
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Project Engineering</h4>
                    <h5>Jan 2021 - Oct 2023</h5>
                    <p><em> TD. Chaicharn, BK</em></p>
                    <ul>
                        <li>Supervised construction work for two projects, Hope Inn Bangna Hotel and
                            Ocean Residence Condominium, leading a team of approximately 80 people. </li>
                        <li>Monitor work progress to ensure it adheres to the plan. </li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4> Project Engineering</h4>
                    <h5> Feb 2019 - Jun 2020</h5>
                    <p><em> Sumitomo Corporation, BK</em></p>
                    <ul>
                        <li>Red Line Suburban Railway Construction Project, Bang Sue - Rangsit Section C3</li>
                        <li>Planned and controlled concrete sleeper production.</li>
                        <li>Supervised the installation of track systems and turnout systems, ensuring
                            accuracy according to design and plan</li>
                        <li>Managed a team of 20 people.</li>
                    </ul>
                </div>
                
                <div class="resume-item">
                    <h4> Project Engineering</h4>
                    <h5>Mar 2016 - Jan 2019</h5>
                    <p><em> Partnership Nawan, SK</em></p>
                    <ul>
                        <li>Responsible for project oversight, leading teams of approximately 120
                            personnel.</li>
                        <li>Tracked and reported on work progress to ensure timely completion.</li>
                        <li>Evaluated and authorized material purchase orders and payment requisitions.</li>
                    </ul>
                </div><!-- Edn Resume Item -->

            </div>

        </div>

        <div class=" mt-3">
            <a href="assets/resume/Sanya Bochoun Resume.pdf" class="btn btn-primary btn-lg" download>
                <i class="bi bi-download me-2"></i>Download Resume
            </a>
        </div>

    </div>

</section><!-- /Resume Section --> 