<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>I offer a range of services in web and application development, business analytics, and engineering design. My goal is to deliver high-quality solutions that meet client needs, drive business growth, and ensure long-term success through modern technology and best practices</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0"><i class="bi bi-laptop"></i></div>
                <div>
                    <h4 class="title"><a href="service-details.html" class="stretched-link">Web Development </a></h4>
                    <p class="description">Design and develop responsive websites using modern technologies, focusing on user experience, performance, and maintainability.</p>
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="icon flex-shrink-0"><i class="bi bi-cloud"></i></div>
                <div>
                    <h4 class="title"><a href="service-details.html" class="stretched-link">SaaS Development</a>
                    </h4>
                    <p class="description">Design, develop, and deploy scalable SaaS applications with a focus on reliability, security, and seamless user experience on the cloud.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="icon flex-shrink-0"><i class="bi bi-phone"></i></div>
                <div>
                    <h4 class="title"><a href="service-details.html" class="stretched-link">Mobile Application Development</a></h4>
                    <p class="description">Design and develop mobile applications for both iOS and Android platforms, focusing on intuitive user interfaces, performance, and seamless integration with backend services.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="icon flex-shrink-0"><i class="bi bi-graph-up"></i></div>
                <div>
                    <h4 class="title"><a href="service-details.html" class="stretched-link">Business Analytics</a>
                    </h4>
                    <p class="description">Analyze business data to uncover insights, support decision-making, and drive business growth using modern analytics tools and data visualization techniques.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
                <div class="icon flex-shrink-0"><i class="bi bi-window"></i></div>
                <div>
                    <h4 class="title"><a href="service-details.html" class="stretched-link">Application Development</a></h4>
                    <p class="description"> Develop custom applications tailored to business needs, ensuring scalability, security, and a seamless user experience across platforms.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
                <div class="icon flex-shrink-0"><i class="bi bi-building"></i></div>
                <div>
                    <h4 class="title"><a href="service-details.html" class="stretched-link">Engineering Design</a>
                    </h4>
                    <p class="description">Create and analyze engineering designs using industry-standard tools, ensuring safety, efficiency, and compliance with relevant standards.</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->